.login {
    width: 100vw;
    height: 100vh;
    background-color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.loginWrapper {
    width: 90%;
    height: 100%;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding-inline: 20px;
}

.loginLeft {
    display: flex;
    flex-direction: column;
    gap: 25px;
    
}

.loginRight {
    flex: 1;
    height: 70%;
}

.loginBox {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginBox form {
    width: 80%;
    height: 60%;
    background-color: #fff;
}

.loginBox form fieldset {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border: none;
    outline: none;
    
}

legend {
    background-color: crimson;
    padding: 10px 20px;
    border-radius: 10px;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    color: white;
    width: 200px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    user-select: none;
}

.loginFormInputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.loginFormInput {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.loginFormInput > input {
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    color: black;
    border: 0.5px solid var(--main-color);
    outline: none;
    transition: 300ms ease;
}

.loginFormInput > input:focus {
    color: white;
}

.loginFormInput > input::selection {
    background-color: cadetblue;
}

.loginFormInput > label:has(+ input:focus) {
    color: var(--main-color);
    font-weight: bold;
}

fieldset button[type='submit'], .loginRegisterBtn, .backToLogin {
    padding: 10px 20px;
    background-color: crimson;
    color: white;
    border-radius: 10px;
    border: none;
    outline: none;
    width: 200px;
    margin-top: 20px;
    transition: 300ms ease transform;
    cursor: pointer;
}

fieldset button[type='submit'].load, .loginRegisterBtn.load, .backToLogin.load {
    background-color: white;
    border: 1px solid crimson;
}

fieldset button[type='submit']:active , .loginRegisterBtn:active, .backToLogin:active {
    transform: scale(0.6);
}

.loginFormInput > input:focus {
    background: var(--main-color);
}

.loginFormInput > input:focus::placeholder {
    color: white;
}

.loginLogo {
    font-size: 60px;
    font-family: 'Edu VIC WA NT Beginner', cursive;
}

.loginRegisterText {
    user-select: none;
    font-weight: 300;
    font-style: italic;
}

@media (max-width: 768px) {
    .loginLogo {
        font-size: 40px;
    }

    .loginBox {
        width: 100vw;
    }

    .loginWrapper {
        flex-direction: column;
        padding-inline: 10px;
    }
}