.login {
    width: 100vw;
    height: 100vh;
    background-color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.loginWrapper {
    width: 90%;
    height: 100%;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding-inline: 20px;
}

.loginLeft {
    display: flex;
    flex-direction: column;
    gap: 25px;
    
}

.loginRight {
    flex: 1;
    height: 70%;
}

.loginBox {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginBox form {
    width: 80%;
    height: 60%;
    background-color: #fff;
}

.loginBox form fieldset {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border: none;
    outline: none;
    
}

legend {
    background-color: crimson;
    padding: 10px 20px;
    border-radius: 10px;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    color: white;
    width: 200px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    user-select: none;
}

.loginFormInputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.loginFormInput {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.loginFormInput > input {
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    border: none;
    outline: none;
    transition: 500ms ease box-shadow;
}

.loginFormInput > label {
    font-weight: bold;
}

fieldset input[type='submit'], .loginRegisterBtn {
    padding: 10px 20px;
    background-color: crimson;
    color: white;
    border-radius: 10px;
    border: none;
    outline: none;
    width: 200px;
    margin-top: 20px;
    transition: 300ms ease transform;
    cursor: pointer;
}

fieldset input[type='submit']:active , .loginRegisterBtn:active {
    transform: scale(0.6);
}

.loginFormInput > input:focus {
    box-shadow: 0 1px 2px 0 black;
}

.loginLogo {
    font-size: 60px;
    font-family: 'Edu VIC WA NT Beginner', cursive;
}

.loginRegisterText {
    user-select: none;
    font-weight: 300;
    font-style: italic;
}

@media (max-width: 768px) {
    .loginLogo {
        font-size: 40px;
    }

    .loginBox {
        width: 100vw;
    }

    .loginWrapper {
        flex-direction: column;
        padding-inline: 10px;
    }
}