.share {
    width: 100%;
    min-height: 170px;
    border-radius: 10px;
    box-shadow: 4px 4px 5px 2px rgba(0,0,0,0.5);
}

.shareWrapper {
    padding: 20px;
}

.shareTop {
    display: flex;
    align-items: center;
}

.shareTopImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.shareInput {
    font-family: inherit !important;
    border: none;
    outline: none;
    padding: 10px;
    width: 100%;
    height: 80px;
    border-radius: 10px;
    transition: 500ms ease all;
    resize: none;
}

.shareInput:focus {
    box-shadow: 1px 2px 3px 0 hsl(125, 70%, 10%);
}

.loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 60px !important;
    height: 60px !important;
    border-radius: 50%;
    z-index: 100;
}

.shareHr {
    margin-block: 15px;
}

.shareBottom {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.shareOptions {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shareOption {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 15px;
    transition: 700ms ease transform;
}

.shareOption:hover {
    transform: scale(1.095);
}

.shareIcon {
    font-size: 16px !important;
    margin-right: 10px;
}

.shareOptionText {
    font-size: 14px;
    cursor: pointer;
}

.shareBtn {
    border: none;
    padding: 10px;
    border-radius: 10px;
    background:  rgb(124, 39, 56);
    background-blend-mode: darken;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 300ms ease background-color , 100ms linear transform;
    margin-top: 5px;
}

.shareBtn:hover {
    border: 1px solid crimson;
    color: crimson;
    background-color: white;
}

.shareBtn:active {
    transform: scale(0.9);
}

.shareImage {
    width: 100%;
    height: 300px;
    position: relative;
}

.shareImage > :is(img, video) {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.postImageDelete {
    border: 2px solid crimson;
    border-radius: 6px;
    padding: 8px;
    background-color: transparent;
    position: absolute;
    color: crimson !important;
    cursor: pointer;
    transition: 300ms ease !important;
    right: 20px;
    bottom: 20px;
}

.postImageDelete > svg {
    font-size: 20px !important;
}

.postImageDelete:hover {
    background-color: crimson;
    color: white !important;
}

.postImageDelete:active {
    transform: scale(0.6);
}

@media (max-width: 768px) {
    .share {
        max-height: 400px;
    }

    .shareOption {
        flex-direction: column;
        align-items: center;
    }

    .shareOption .shareIcon {
        margin: 0;
    }
}