.topbar-container {
    width: 100vw;
    height: 50px;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.topbar-left {
    flex: 3;
}

.logo {
    font-family: 'Edu VIC WA NT Beginner', cursive;
    font-size: 24px;
    margin-left: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: 500ms ease all;
}

.logo:hover {
    color: #ebeaff;
}

.topbar-center {
    flex: 5;
}

.searchbar {
    width: 100%;
    height: 30px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.search-icon {
    font-size: 25px !important;
    margin-left: 10px;
    cursor: pointer;
}

.searchInput {
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    padding: 6px 8px;
    transition: 500ms ease all;
}

.searchInput:focus {
    background-color: #7f77f269;
}

.topbar-right {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.topbar-link {
    margin-inline: 10px;
    font-size: 14px;
    cursor: pointer;
}

.topbar-icons {
    display: flex;
    align-items: center;
}

.topbar-icon-item {
    margin-right: 15px;
    cursor: pointer;
    position: relative;
}

.topbar-icon-badge {
    width: 15px;
    height: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    color: crimson;
    font-weight: bold;
    position: absolute;
    top: -5px;
    right: -5px;
    display: grid;
    place-items: center;
    font-size: 12px;
}

.topbarDropdown {
    position: relative;
    margin-right: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.topbar-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    transition: 100ms ease;
}   

.topbar-img:active {
    scale: 0.95;
}

.dropdownList {
    position: absolute;
    top: 114%;
    right: -5px;
    width: 200px;
    min-height: 60px;
    z-index: 1000;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    transform-origin: top;
    list-style: none;
    transform: scaleY(0);
    transition: var(--transition);
}

.dropdownList.active {
    transform: scaleY(1);
}

.dropdownItem {
    font-size: 18px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
    padding-block: 10px;
    color: white;
    cursor: pointer;
    transition: 200ms ease background-color;
}

.dropdownItem:hover {
    background-color: var(--main-hover-color);
}

.closeDropdown {
    position: absolute;
    right: 2px;
    top: 2px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    cursor: pointer;
    color: white;
    transition: var(--transition) !important;
    transition-property: var(--transition-property-bgcolor), transform;
}

.closeDropdown:active {
    transform: scale(.6);
}

.hidden {
    display: none !important;
}

@media (max-width: 768px) {

    .hidden {
        display: block !important;
    }

    .logo {
        font-size: 16px;
        margin-inline: 5px;
    }

    .topbar-center.hideCenter {
        animation: hide 300ms ease forwards 600ms;
    }

    .topbar-right {
        transform: translateX(40%);
        flex: 1;
        overflow: hidden;
    }

    .topbar-right.growRight {
        animation: growRight 500ms ease forwards 300ms;
    }

    .topbar-right.growBack {
        animation: growBack 500ms ease forwards;
    }

    .rotate {
        animation: rotate 300ms ease forwards;
    }
    .rotateBack {
        animation: rotateBack 300ms ease forwards;
    }
}

@keyframes rotate {
    100% {
        transform: rotate(180deg);
    }
}
@keyframes rotateBack {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes growRight {
    0% {
        transform: translateX(40%);
        flex: 1;
        overflow: hidden;
    }
    100% {
        flex: 4;
        overflow: visible;
        transform: translateX(0);
    }
}

@keyframes growBack {
    0% {
        flex: 4;
        overflow: visible;
        transform: translateX(0px);
    }
    100% {
        flex: 1;
        transform: translateX(40%);
        overflow: hidden;
    }
}

@keyframes hide {
    0% {
        flex: 5;
        overflow: visible;
    }
    100% {
        flex: 0;
        overflow: hidden;
    }
}