.profile {
    display: flex;
}

.profileRight {
    flex: 9;
}

.profileCover {
    height: 320px;
    position: relative;
}

.coverImg {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.userImg {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 150px;
    border: 10px solid white;
}

.profileInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.profileInfo > h4{
    font-size: 25px;
    margin-right: 20px;
}

.profileInfoStatistics {
    display: flex;
    align-items: center;
    gap: 20px;
}

.profileInfoStatistics > h5{
    background-color: #bbb;
    border-radius: 10px;
    padding: 5px 8px;
}

.profileInfo > span {
    font-weight: 300;
}

.profileRightBottom {
    display: flex;
}

.rightbarTitle {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.rightbarInfo {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 30px;
}

.rightbarInfoItem {
    display: flex;
    align-items: center;
    gap: 8px;
}

.rightbarInfoKey {
    font-weight: 450;
}

.rightbarInfoValue {
    color: rgb(0, 0, 0);
    font-weight: 300;
}

.rightbarFollowings {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.rightbarFollowing {
    display: flex;
    align-items: center;
    position: relative;
    gap: 10px;
    cursor: pointer;
    padding: 10px 20px;
    transition: 100ms ease scale;
}

.rightbarFollowing::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    background-color: crimson;
    height: 1px;
    transition: 250ms ease;
}

.rightbarFollowing:active {
    scale: 95%;
}

.rightbarFollowing:hover::after {
    width: 100%;
}

.rightbarFollowingImg {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-block: -8px;
}

.rightbarFollowingUsername {
    color: rgb(64, 52, 139);
    font-weight: 400;
}


@media (max-width: 768px) {
    .profileInfo {
        flex-direction: column;
    }
}