.messenger {
    height: calc(100vh - 50px);
    width: 100vw;
    display: flex;
    gap: 20px;
}

.chatMenu {
    flex: 3;
}
.chatBox {
    flex: 5;
    position: relative;
    margin-inline: 10px;
}

.chatBoxTop {
    height: calc(100vh - 150px);
    overflow-y: auto;
    overflow-x: hidden;
    padding-inline: 10px;
    padding-top: 13vh;
}

.chatBoxBottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
    background-color: var(--body-color);
}

.chatOnline {
    flex: 3;
}

.chatFriendInput {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.412);
    transition: 300ms ease background-color;
    margin-bottom: 10px;
}

.chatFriendInput:focus {
    background-color: #7f77f269;
    border-color: #7f77f269;
}

.chatMessageTextarea {
    resize: none;
    font-family: inherit;   
    height: 90px !important;
    flex: 1;
    padding: 12px 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    box-shadow: 0 2px 2px -1px black;
    transition: 200ms ease box-shadow;
}

.chatMessageTextarea::-webkit-scrollbar {
    display: none;
}

.chatMessageTextarea:focus {
    box-shadow: 0 2px 2px 0 black;
}

.chatSubmitButton {
    cursor: pointer;
    background-color: hsl(151, 74%, 45%);
    border: none;
    outline: none;
    color: white;
    border-radius: 10px;
    padding: 12px 10px;
    transition: 200ms ease background-color;
}

.chatSubmitButton:hover {
    background-color: hsl(151, 74%, 35%);
}

.chatSubmitButton:active {
    background-color: hsl(151, 74%, 27%);
}

.noConversationContainer,.noMessagesContainer {
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
}

:is(.noConversationContainer,.noMessagesContainer) > span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.4;
    padding: 4px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px dotted var(--text-color);
    color: var(--text-color);
}

@media (max-width: 768px) {
    .chatOnline , .chatMenu {
        flex: 0;
        overflow: hidden;
    }

    .chatBoxTop::-webkit-scrollbar {
        display: none;
    }

    .chatFriendInput {
        margin-top: 30px;
    }
}