.sidebar {
    flex: 3;
    height: calc(100vh - 50px);
    overflow-y: auto;
    position: sticky;
    top: 50px;
    box-shadow: 2px 0 5px -1px black;
}

.hamburger {
    display: none;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #aaa;
}

.sidebarWrapper {
    height: 100%;
    width: 100%;
    padding: 20px 12px;
    overflow-y: auto;
}

.sidebarWrapper::-webkit-scrollbar {
    display: none;
}

/* MODE SWITCHER */

.mode-switcher {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

.mode-switcher-container {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 30px;
    border-radius: 100px;
    margin-bottom: 10px;
    overflow: hidden;
    border: 1px solid white;
}

.mode-switcher-container:has( .mode-switcher-button:checked) {
    border-color: black;
}

.mode-switcher-button {
    position: absolute;
    appearance: none;
    width: 100%;
    height: 100%;
    z-index: 10;
    cursor: pointer;
}

.mode-switcher-cover {
    position: absolute;
    inset: 0;
    background-color: black;
    clip-path: inset(0px);
    transition: 250ms ease clip-path;
}

.mode-switcher-button:checked + .mode-switcher-cover {
    clip-path: inset(0px 0px 0px 100%);
}

.mode-switcher-container:has( .mode-switcher-button:checked) .mode-switcher-slider {
    left: calc(100% - 27px);
    background: radial-gradient(ellipse farthest-corner at 33% 100%, rgb(35, 31, 32) 42%, rgb(161, 159, 160) 60%);
    background-size: 150% 100%;
    border: 3px solid rgb(29, 27, 28);
    border-radius: 50%;
    transform: translateY(-50%) rotate(90deg);
    background-color: black;
}

.mode-switcher-slider {
    position: absolute;
    left: 2px;
    top: 50%;
    transform: translateY(-50%);
    height: 25px;
    width: 25px;
    border-radius: 100%;

    background-image: url("https://cdn.mos.cms.futurecdn.net/adLnFowUSH3CmRgGBdQ6yU.jpg");
    background-size: cover;
    background-position: center;

    transition: 500ms cubic-bezier(0.165, 0.84, 0.44, 1) , 200ms ease background-color 125ms;
}

.sidebarWrapper:has( .mode-switcher .mode-switcher-container .mode-switcher-button:checked) .sun {
    transform: translateY(100%);
    opacity: 0;
}
.sidebarWrapper:has( .mode-switcher-button:checked) .moon {
    transform: translateY(0%);
    rotate: 90deg 0;
    opacity: 1;
}

/* SIDEBAR LIST */

.sidebarList {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow-y: auto;
    height: 30vh;
}

.sidebarListItem {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
}

.sidebarIcon {
    margin-right: 15px;
}

.sidebarButton {
    cursor: pointer;
    width: 150px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: 600;
    transition: 200ms ease transform;
}

.sidebarButton:active {
    transform: scale(0.7);
}

.sidebarHr {
    margin-block: 20px;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.434);
}

.sidebarFriendList {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    max-height: 35vh;
}

.sidebarFriend {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;
    border-radius: 8px;
    transition: 300ms ease background-color;
    padding: 8px 10px;
}

.sidebarFriend:hover {
    background-color: rgba(0, 0, 0, 0.184);
}

.sidebarFriendImg {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}

.hidden {
    display: none;
}

/* Messenger Sidebar */

.messenger-sidebar-container {
    position: relative;
}

.conversationList {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    height: 50vh;
}

.searchedFriendList {
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
    top: 46px;
    z-index: 10000;
    max-height: 300px;
    box-shadow: 0 3px 5px 0 black;
    border-radius: 6px;
    overflow-x: hidden;
    overflow-y: auto;
    transition: 200ms ease;
    transform: scaleY(0);
    transform-origin: top left;
}

.searchedFriendList.active {
    transform: scaleY(1);
}

.searchedFriendList::-webkit-scrollbar {
    width: 5px;
}

.searchedListItem {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-block: 10px;
    padding: 10px;
    border-radius: 10px;
    transition: 200ms ease;
    cursor: pointer;
}

.searchedListItem:hover {
    background-color: rgba(0, 0, 0, 0.184);
}

.searchedListItemImg {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

@media (max-width: 768px) {
    .sidebar {
        flex: 0;
        transform: translateX(-101%);
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: white;
        z-index: 1000;
        padding-bottom: 0;
        overflow-y: hidden;
        transition: 500ms ease transform;
    }

    .sidebar .sidebarWrapper {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .hidden {
        display: block;
    }

    .searchedFriendList {
        top: 77px;
    }

    .closeBtn { 
        position: absolute;
        right: 10px;
        top: 10px;
        border-radius: 10px;
        width: 65px;
        padding: 8px 12px;
        font-family: 'Edu VIC WA NT Beginner', cursive;
        background-color: rgb(70, 70, 150);
        font-weight: bold;
        color: white;
        border: none;
        outline: none;
        transition: 250ms ease transform;
        z-index: 10000;
        cursor: pointer;
    }

    .openSidebar {
        animation: openSidebar 500ms ease forwards 1s;
    }

    .closeSidebar {
        animation: closeSidebar 500ms ease forwards;
    }

    .hamburger {
        display: block;
        position: fixed;
        top: 60px;
        left: 5px;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        border:1px solid black;        
        z-index: 100;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background-color: white;
    }

    .hamburger .bar{
        width: 25px;
        height: 2px;
        position: relative;
        background-color: black;
        margin-block: 6px;
    }

    .topBar {
        background-color: black;
        height: 2px;
        width: 25px;    
    }
    .bottomBar {
        background-color: black;
        height: 2px;
        width: 25px;   
    }

    .open .bar {
        animation: barCenter 500ms ease forwards;
        margin: 0;
    }

    .open .topBar {
        animation: barTop 500ms ease forwards 500ms;
    }
    .open .bottomBar {
        animation: barBottom 500ms ease forwards 500ms;
    }
}

@keyframes openSidebar {
    0% {
        transform: translateX(-101%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes closeSidebar {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-101%);
    }
}

@keyframes barCenter {
    0% {
        width: 100%;
    }
    100% {
        width: 0px;
    }
}

@keyframes barTop {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}
@keyframes barBottom {
    0% {
        transform: rotate(0deg);
    }
    100% {
        margin-top: -4px;
        transform: rotate(-45deg);
    }
}