.rightbarFriend {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    transition: var(--transition) background-color;
    border-radius: 6px;
    padding: 6px 12px;
    cursor: pointer;
    animation: slide 500ms cubic-bezier(0.8,0.5,0.9,0.95);
}

.rightbarFriend:hover {
    background-color: var(--main-hover-color);
}

.rightbarFriend:hover .rightbarUsername {
    color: white;
}

.rightbarImgContainer {
    margin-right: 10px;
    position: relative;
    transition: 200ms ease;
}

.rightbarImgContainer:active {
    scale: 0.9;
}

.rightbarImg {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    transition: 200ms ease transform;
}

.rightbarImgContainer > span {
    position: absolute;
    top: -1px;
    right: -1px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--green);
    border: 2px solid var(--body-color);
}

.rightbarUsername {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
}
