.grid_container.MuiGrid-root.MuiGrid-container {
    position: relative;
    background-color: var(--body-color);
    color: var(--text-color);
    width: 80vw;
    height: 85vh;
    overflow: hidden;
    border-radius:10px;
}

.comment_input {
    --comment-color: rgb(118, 118, 250);
    font-family: 'Roboto', sans-serif;
    border: 1px solid var(--comment-color);
    border-radius: 6px;
    padding: 6px 8px;
    transition: 200ms ease;
    display: block;
    width: 100%;
    font-size: 17px;
    outline: none;
    resize: none;
}

.comment_input:focus-visible, .comment_input:focus-visible::placeholder {
    background: var(--comment-color);
    color: white;
    border: none;
}


@media (max-width: 768px) {
    .grid_container.MuiGrid-root.MuiGrid-container {
        width: 90vw ;
    }
}