@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400;500;600&family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background-color: rgb(97, 8, 26);
    color: white;
}

body {
    /* font-family: 'Edu VIC WA NT Beginner', cursive; */
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
