.message {
    display: flex;
    flex-direction: column;
    margin-block: 20px;
}

.messageTop {
    display: flex;
    align-items: center;
    gap: 8px;
}

.messageImg {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}

.messageText {
    font-size: 15px;
    padding: 6px 8px;
    border-radius: 10px;
    background-color: #1877f2;
    max-width: 300px;
    color: white;
}

.messageBottom > small {
    color: gray;
    font-size: 12px;
}

.message.own {
    align-items: flex-end;
}

.message.own .messageText {
    background-color: rgb(245,241,241);
    color: black;
} 

