.rightbar {
    flex: 4;
}

.rightbarWrapper {
    padding: 20px 20px 0 0;
    width: 100%;
    height: 650px;
    overflow-y: auto;
    position: sticky;
    top: 50px;
}

.rightbarWrapper::-webkit-scrollbar {
    display: none;
}

.rightbarAd {
    width: 100%;
    margin-block: 30px;
    border-radius: 10px;
}

.rightbarTitle {
    margin-bottom: 10px;
    color: var(--text-color);
}

.rightbarFriendList {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow-y: auto;
    max-height: 35vh;
}

.hidden {
    display: none;
}


.rightbarFollowBtn {
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 6px 8px;
    border-radius: 10px;
    width: 100px;
    background-color: hsl(240, 50%, 50%);
    color: white;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    cursor: pointer;
    border: none;
    margin-bottom: 10px;
    transition: 400ms ease background-color , 100ms ease transform;
}

.rightbarFollowBtn:hover {
    background-color: hsl(240, 50%, 40%);
}

.rightbarFollowBtn:active {
    transform: scale(0.8);
}

.rightbarFollowBtn > span > svg {
    width: 20px !important;
    height: 20px !important;
    font-size: 16px !important;
    padding-top: 2px;
}

@media (max-width: 768px) {
    .rightbar {
        flex: 0;
        transform: translateX(120%);
        position: fixed;
        width: 100vw;
        height: 100vh;
        background-color: white;
        z-index: 100000;
        top: 0;
        left: 0;
    }

    .rightbarWrapper {
        padding: 50px 20px 20px;
        width: 100vw;
        height: 100%;
        overflow-y: auto;
    }

    .openRightbar {
        animation: openRightbar 500ms ease forwards 1s;
    }
    .closeRightbar {
        animation: closeRightbar 500ms ease forwards;
    }

    .hidden {
        display: block;
    }

    .hamburgerRight {
        display: block;
        position: fixed;
        top: 60px;
        right: 5px;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        border:1px solid black;        
        z-index: 100;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
        cursor: pointer;
    }

    .openRightHamburger .bar{
        animation: barCenter 500ms ease forwards;
        margin: 0;
    }
    .openRightHamburger .topRightbar{
        animation: barTop 500ms ease forwards 500ms;

    }
    .openRightHamburger .bottomRightbar{
        animation: barBottom 500ms ease forwards 500ms;
    }

    .bar {
        left: 0;
        width: 25px;
        height: 2px;
        background-color: black;
        margin-block: 6px;
    }
    .topRightbar {
        left: 0;
        width: 25px;
        height: 2px;
        background-color: black;
    }
    .bottomRightbar {
        left: 0;
        width: 25px;
        height: 2px;
        background-color: black;
    }
}


@keyframes openRightbar {
    0% {
        transform: translateX(120%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes closeRightbar {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(120%);
    }
}